    {{#> layoutProfile }}
            <div class="profile__avatar row row_center">
                <div class="text-center">
                    <div class="avatar">
                        {{#if state.avatar }} <img src="https://ya-praktikum.tech/api/v2/resources/{{ state.avatar }}" alt="" class="avatar"/>
                        {{ else }}<img src="/public/vite.svg" alt="">{{/if}}
                    </div>
                    <h2>{{state.first_name}}</h2>
                </div>
            </div>
            <div>
                <ul class="flat-list profile__bio">
                    <li class="flat-list__item">
                        <div class="row row_between row_middle row_height">
                            <div>
                                <span class="text-bold">Почта</span>
                            </div>
                            <div class="text-muted">{{ state.email }}</div>
                        </div>
                    </li>
                    <li class="flat-list__item">
                        <div class="row row_between row_middle row_height">
                            <div>
                                <span class="text-bold">Логин</span>
                            </div>
                            <div class="text-muted">{{ state.login }}</div>
                        </div>
                    </li>
                    <li class="flat-list__item">
                        <div class="row row_between row_middle row_height">
                            <div>
                                <span class="text-bold">Имя</span>
                            </div>
                            <div class="text-muted">{{ state.first_name }}</div>
                        </div>
                    </li>
                    <li class="flat-list__item">
                        <div class="row row_between row_middle row_height">
                            <div>
                                <span class="text-bold">Фамилия</span>
                            </div>
                            <div class="text-muted">{{ state.second_name }}</div>
                        </div>
                    </li>
                    <li class="flat-list__item">
                        <div class="row row_between row_middle row_height">
                            <div>
                                <span class="text-bold">Имя в чате</span>
                            </div>
                            <div class="text-muted">{{ state.display_name }}</div>
                        </div>
                    </li>
                    <li class="flat-list__item">
                        <div class="row row_between row_middle row_height">
                            <div>
                                <span class="text-bold">Телефон</span>
                            </div>
                            <div class="text-muted">{{ state.phone }}</div>
                        </div>
                    </li>
                </ul>
                <nav>
                    <ul class="flat-list profile__buttons">
                        <li class="flat-list__item">
                            <div class="row row_between row_middle row_height">
                               {{{Button class="btn btn_md btn_plain" label="Изменить данные" name="settings" type="button" onClick=onSettings }}}
                            </div>
                        </li>
                        <li class="flat-list__item">
                            <div class="row row_between row_middle row_height">
                                 {{{Button class="btn btn_md btn_plain" label="Изменить пароль" name="password" type="button" onClick=onChangePassword }}}
                            </div>
                        </li>
                        <li class="flat-list__item">
                            <div class="row row_between row_middle row_height">
                                {{{Button class="btn btn_md btn_plain btn_danger" label="Выйти" name="logout" type="button" onClick=onLogout }}}
                            </div>
                        </li>
                    </ul>
                </nav>
            </div>
    {{/ layoutProfile}}
